h1,
h2,
h3,
h4 {
  @apply my-4 font-bold;
}
h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

p,
li {
  @apply text-lg text-stone-600 dark:text-stone-300;
}

p,
ul,
ol,
pre,
blockquote {
  @apply my-4;
}

ul ul,
ol ol,
ul ol,
ol ul {
  @apply my-2;
  padding-left: 32px;
}

blockquote {
  @apply italic p-4 border-l-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-stone-700;
}

b,
strong {
  @apply text-black dark:text-white;
}

code {
  @apply bg-white dark:bg-stone-800;
  font-size: 1rem;
  border-radius: 8px;
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
}

pre > code {
  background: none;
  padding: 0;
  white-space: pre;
}

.ql-editor {
  @apply mb-8;
  /* padding: 0 0 !important; */
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor code,
.ql-editor blockquote {
  @apply mb-6 !important;
}

.ql-editor img,
.ql-editor iframe,
.blog-content img,
.blog-content iframe {
  margin: auto;
}

.ql-toolbar.ql-snow {
  position: sticky;
  top: 68px;
  z-index: 2;
  background: var(--convex-gradient);
}

.hljs {
  max-width: calc(100vw - 40px);
  border-radius: 8px;
}
