html {
  --light-start: #f6f6f6;
  --light-end: #dedede;

  --light-reflection-color: #ffffff;
  --shadow-reflection-color: #c4c4c4;

  --light-reflection: -2px -2px 4px var(--light-reflection-color);
  --shadow-reflection: 2px 2px 4px var(--shadow-reflection-color);

  --inner-light-reflection: inset var(--light-reflection);
  --inner-shadow-reflection: inset var(--shadow-reflection);

  --convex-gradient: linear-gradient(
    145deg,
    var(--light-start),
    var(--light-end)
  );
  --convey-gradient: linear-gradient(
    145deg,
    var(--light-end),
    var(--light-start)
  );
}

html.dark {
  --dark-light-start: #404040; /* colors.trueGray 700 */
  --dark-light-end: #262626; /* colors.trueGray 800 */

  --dark-light-reflection-color: #525252;
  --dark-shadow-reflection-color: #262626; /* colors.trueGray 800 */

  --light-start: var(--dark-light-start);
  --light-end: var(--dark-light-end);
  --light-reflection-color: var(--dark-light-reflection-color);
  --shadow-reflection-color: var(--dark-shadow-reflection-color);
}

@import './header.css';
@import './home.css';
@import './about.css';

body {
  @apply text-gray-800 dark:text-gray-300;
  background: var(--convex-gradient);
}

svg {
  width: 1em;
  height: 1em;
}

.divider {
  border-top: 1px solid var(--light-end);
  border-bottom: 2px solid var(--light-start);
  border-radius: 2px;
}

ul {
  padding-left: 24px;
}

li {
  list-style: square;
}

a {
  @apply text-lightBlue-600 hover:text-lightBlue-500 hover:underline;
  @apply dark:text-lightBlue-400 dark:hover:text-lightBlue-300;
}
