html {
  --light-start: #f6f6f6;
  --light-end: #dedede;

  --light-reflection-color: #ffffff;
  --shadow-reflection-color: #c4c4c4;

  --light-reflection: -2px -2px 4px var(--light-reflection-color);
  --shadow-reflection: 2px 2px 4px var(--shadow-reflection-color);

  --inner-light-reflection: inset var(--light-reflection);
  --inner-shadow-reflection: inset var(--shadow-reflection);

  --convex-gradient: linear-gradient(
    145deg,
    var(--light-start),
    var(--light-end)
  );
  --convey-gradient: linear-gradient(
    145deg,
    var(--light-end),
    var(--light-start)
  );
}

html.dark {
  --dark-light-start: #404040; /* colors.trueGray 700 */
  --dark-light-end: #262626; /* colors.trueGray 800 */

  --dark-light-reflection-color: #525252;
  --dark-shadow-reflection-color: #262626; /* colors.trueGray 800 */

  --light-start: var(--dark-light-start);
  --light-end: var(--dark-light-end);
  --light-reflection-color: var(--dark-light-reflection-color);
  --shadow-reflection-color: var(--dark-shadow-reflection-color);
}

@import './header.css';
@import './home.css';
@import './about.css';
@import './blog.css';

body {
  @apply text-gray-700 dark:text-gray-300;
}

body::before {
  content: ' ';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--convex-gradient);
  z-index: -1;
}

svg {
  width: 1em;
  height: 1em;
}

.divider {
  border-top: 1px solid var(--light-end);
  border-bottom: 2px solid var(--light-start);
  border-radius: 2px;
}

ul {
  padding-left: 24px;
}

ol {
  padding-left: 24px;
  list-style: decimal !important;
}

ul li {
  list-style: square;
}

a {
  @apply text-lightBlue-600 hover:text-lightBlue-500 hover:underline;
  @apply dark:text-lightBlue-400 dark:hover:text-lightBlue-300;
}

button.btn {
  @apply rounded-full;
  @apply px-4 py-1 font-semibold text-gray-500 dark:text-gray-300 outline-none focus:outline-none;
  box-shadow: var(--shadow-reflection), var(--light-reflection);
  background: var(--convex-gradient);
}

button.btn:active {
  background: var(--convey-gradient) !important;
}

button.btn:hover {
  background: none;
}
