.home-page svg {
  width: 1em;
  height: 1em;
}

.home-page svg,
.home-page path {
  transition: fill 0.2s;
}

#avatar {
  width: 160px;
  height: 160px;
  box-shadow: 6px 6px 12px #c4c4c4, -6px -6px 12px #ffffff;
}

@screen sm {
  #avatar {
    width: 200px;
    height: 200px;
  }
}

.full-name {
  color: transparent;
  text-shadow: 2px 2px 3px #c4c4c4, -2px -2px 3px #ffffff;
}

.full-name-2 {
  position: absolute;
  top: 0;
  background: linear-gradient(145deg, #9b9b9b, #414141);
  background-clip: text;
  color: transparent;
}

.socials {
  box-shadow: 2px 2px 4px #c4c4c4, -2px -2px 4px #ffffff;
}

.socials a {
  @apply px-2;
}

#stackoverflow-icon path {
  fill: currentColor;
}

#stackoverflow-icon:hover path:first-child {
  fill: #bcbbbb;
}

#stackoverflow-icon:hover path:last-child {
  fill: #f48024;
}

.button-link {
  transition-duration: 0.3s;
  transition-property: box-shadow;
}

.button-link:hover {
  box-shadow: inset 2px 2px 4px #c4c4c4, inset -2px -2px 4px #ffffff;
  /* box-shadow: inset 0px 2px 4px 0px #00000029; */
}

.button-link:focus {
  box-shadow: inset 2px 2px 4px #c4c4c4, inset -2px -2px 4px #ffffff;
  /* box-shadow: inset 0px 2px 4px 2px #00000029; */
}
