.home-page svg {
  width: 1em;
  height: 1em;
}

.home-page svg,
.home-page path {
  transition: fill 0.2s;
}

#avatar {
  width: 160px;
  height: 160px;
  background: var(--convex-gradient);
  box-shadow: 5px 5px 10px var(--shadow-reflection-color),
    -5px -5px 10px var(--light-reflection-color);
}

@screen sm {
  #avatar {
    width: 200px;
    height: 200px;
  }
}

.full-name {
  color: transparent;
  text-shadow: 2px 2px 3px var(--shadow-reflection-color),
    -2px -2px 3px var(--light-reflection-color);
}

.full-name-2 {
  position: absolute;
  top: 0;
  background-image: linear-gradient(145deg, #9b9b9b, #414141);
  background-clip: text;
  color: transparent;
}

.dark .full-name-2 {
  background-image: linear-gradient(145deg, #bdbdbd, #797979);
}

.socials {
  box-shadow: var(--shadow-reflection), var(--light-reflection);
  background: var(--convex-gradient);
}

.socials a #stackoverflow-icon path {
  fill: currentColor;
}

.socials a:focus #stackoverflow-icon path:first-child,
.socials a:hover #stackoverflow-icon path:first-child {
  fill: #bcbbbb;
}

.socials a:focus #stackoverflow-icon path:last-child,
.socials a:hover #stackoverflow-icon path:last-child {
  fill: #f48024;
}

.button-link {
  transition-duration: 0.3s;
  transition-property: box-shadow;
}

.button-link:hover {
  box-shadow: var(--inner-shadow-reflection), var(--inner-light-reflection);
  background: var(--convey-gradient);
}

.button-link:focus {
  box-shadow: var(--inner-shadow-reflection), var(--inner-light-reflection);
}
